@{
    ViewData["Title"] = "Siparişiniz Alındı";
}

<div class="container py-5 mt-5 text-center">
    <div class="py-5 my-5">
        <div class="mb-4">
            <i class="fa-solid fa-circle-check text-success" style="font-size: 5rem;"></i>
        </div>
        <h2 class="geo-section-title mb-3">Siparişiniz Başarıyla Alındı!</h2>
        <p class="lead text-muted mb-5">Teşekkür ederiz. Siparişiniz hazırlanmak üzere işleme alınmıştır.<br>Sipariş detaylarınız E-Posta adresinize gönderilecektir.</p>
        
        <a href="/Home/Index" class="btn-geo">Ana Sayfaya Dön</a>
    </div>
</div>
