@model Uye
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            @{
                if (ViewBag.bitis != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.bitis
                    </div>
                }
            }


            <form class="row g-3 iletisim-form" asp-controller="home" asp-action="iletisim" method="post">
                <div class="col-md-6">
                    <label asp-for="Ad" class="form-label"></label>
                    <input class="form-control" asp-for="Ad" required>
                </div>
                <div class="col-md-6">
                    <label asp-for="Soyad" class="form-label"></label>
                    <input class="form-control" asp-for="Soyad">
                </div>
                <div class="col-md-6">
                    <label asp-for="Eposta" class="form-label"></label>
                    <input class="form-control" asp-for="Eposta" required>
                </div>
                <div class="col-md-6">
                    <label asp-for="Şifre" class="form-label"></label>
                    <input class="form-control" asp-for="Şifre" required>
                </div>
                <div class="col-md-12">
                    <label asp-for="Telefon" class="form-label"></label>
                    <input class="form-control" asp-for="Telefon">
                </div                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br />
