@{
    Layout = "_AdminLayout";
}
@model List<Akategori>
    <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Row-->
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mb-0">
                            Kategori Listesi
                        </h3>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-end">
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="/Admin/KategoriEkleGüncelle" class="btn btn-success">
                                    + Kategori Ekle
                                </a>
                            </li>
                        </ol>
                    </div>
                </div> <!--end::Row-->
            </div> <!--end::Container-->
        </div> <!--end::App Content Header--> <!--begin::App Content-->
        <div class="app-content">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Row-->
                <div class="row g-4">
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h3 class="card-title">Bordered Table</h3>
                            </div> <!-- /.card-header -->
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Id</th>
                                            <th>Kategori Adı</th>
                                            <th>işlem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                        int sira = 1;
                                        foreach (var item in Model)
                                        {
                                        <tr class="align-middle">
                                            <td>@sira</td>
                                            <td>@item.Id</td>
                                            <td>@item.Ad</td>
                                            <td>
                                                <a href="/Admin/KategoriSil/@item.Id" onclick="return confirm('silmek istediğinize emin misiniz?')"> <i class="fa-solid fa-trash"></i></a>-
                                                <a href="/Admin/KategoriEkleGüncelle/@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                                            </td>
                                        </tr>
                                        sira++;
                                        }
                                        }

                                    </tbody>
                                </table>
                            </div> <!-- /.card-body -->
                        </div> <!-- /.card -->

                    </div> <!-- /.col -->
                </div>

            </div>
        </div>

    </main>
