@model Akategori
@{
    Layout = "_AdminLayout";
}
<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0">
                        Kategori
                        @{
                            if (Model.Id > 0)
                            {
                                <span>Güncelle</span>
                            }
                            else
                            {
                                <span>Ekle</span>
                            }
                        }

                    </h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Kategori
                        </li>
                    </ol>
                </div>
            </div> <!--end::Row-->
        </div> <!--end::Container-->
    </div> <!--end::App Content Header--> <!--begin::App Content-->
    <div class="app-content">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row g-4">
                <div class="col-md-6">
                    <!--begin::Quick Example-->
                    <div class="card card-primary card-outline mb-4">
                        <!--begin::Header-->
                        <form asp-controller="admin" asp-action="kategorieklegüncelle" method="post">
                            <input type="hidden" asp-for="Id" />
                            <!--begin::Body-->
                            <div class="card-body">
                                <div class="mb-3">
                                    <label asp-for="Ad" class="form-label"></label>
                                    <input asp-for="Ad" class="form-control" required>
                                </div>
                            </div>
                            <!--end::Body--> <!--begin::Footer-->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Gönder</button>
                            </div> <!--end::Footer-->
                        </form>

                        <!--end::Form-->
                    </div> <!--end::Quick Example--> <!--begin::Input Group-->
                </div>
            </div>
        </div>
    </div>
</main>
